body {
    background-color:rgb(255, 255, 197) ;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;



}

#meBtn {
    background-color: rgb(255, 207, 255);
    height: 4rem;
    /* padding: 5rem; */
    border-radius: 1.9rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    cursor: alias;
    font-size: large;


}

#noBtn {
    background-color: aqua;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Press Start 2P", system-ui;
    font-weight: 300;

    /* font-style: normal; */
    border-radius: 0.5rem;
    cursor: alias;

}

.valentine {
    text-align: center;
}

/* style.css */
.gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    border-radius: 1rem;

}

#meBtn:hover {
    background-color:rgb(181, 218, 255);
}

#noBtn:hover {
    background-color: red;
}