body {
    /* font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
     */
    background-image: url('waves.jpg');
    display: flex;
    font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
}

.container {
    background-color: #80d4fd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

button {
    font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}

.button {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.2s ease;
}

#buttonjap {
    background-color: #ffbdd2;
    color: white;
}

#buttonthai {
    background-color: #b0e2ff;
    color: white;
}

#buttonind {
    background-color: #a1ffa1;
    color: white;
}

#buttonitaly {
    background-color: #ffffa7;
    color: black;
}

#buttonmex {
    background-color: #dab5ff;
    color: white;
}

#buttonjap:hover {
    transform: scale(1.5);
    opacity: 0.7;
}
#buttonthai:hover {
    transform: scale(1.5);
    opacity: 0.7;
}
#buttonind:hover {
    transform: scale(1.5);
    opacity: 0.7;
}
#buttonitaly:hover {
    transform: scale(1.5);
    opacity: 0.7;
}
#buttonmex:hover {
    transform: scale(1.5);
    opacity: 0.7;
}


